<div class="tasks">
  <header>
    <span class="title">משימות</span>
    <button class="task-add" onclick={{action "newTaskDisplay"}}>
      <span class="plus"/>
    </button>

  </header>
  {{#if displayNewTask}}
    <div class="add">
      <label>משימה חדשה</label>
      <input class="title"/>
      <button onclick={{action "newTaskAdd"}}>הוסף</button>
      <button onclick={{action "newTaskCancel"}}>בטל</button>
    </div>
  {{/if}}

  <div class="list">
    {{#each model.tasks as |task index|}}
      {{#unless task.isDeleted }}
        {{todo-item task=task index=index editTitle=false tasks=model.tasks}}
      {{/unless}}
    {{/each}}
  </div>


  <footer>
    <span>לסיום : {{ model.todo  }} </span>
    <span>הושלמו : {{ model.done  }} </span>
    <span>סה"כ : {{ model.total }} </span>

  </footer>
</div>
{{yield}}
