{{todo-list model=model}}


 <h2>Tasksssssssssssssssssssss</h2>
<ul>
{{#each model as |task|}}
  <li>{{task.title}}</li>
  {{/each}}
</ul>



<h2>Tasks with Users</h2>
{{#each model.tasks as |task|}}
  <h3>{{task.title}}</h3>
  {{#each task.users as |user|}}
    <p>{{user.name}}</p>
  {{/each}}
{{/each}}

<h2>Users with Tasks</h2>
{{#each model.users as |user|}}
  <h3>{{user.name}}</h3>
  {{#each user.tasks as |task|}}
    <p>{{task.title}}</p>
  {{/each}}
{{/each}}



{{outlet}}





<!--

<h3>userssssssssssssssssssssssssssssss</h3>
{{#each model.users as |user|}}
  <h3>{{user.name}}</h3>
  {{#each user.tasks as |task|}}
    <p>{{task.name}}</p>
  {{/each}}
{{/each}} -->
