{{todo-list model=model}}

{{outlet}}





 <h2>Tasks width users</h2>
 <h2>------------------------------------</h2>
<ul>
{{#each model.tasks as |task|}}
  <li>{{task.title}}</li>
  {{#each task.users as |user|}}
    <p>{{user.name}}</p>
   {{/each}}
  {{/each}}
</ul>

<br>
<br>
<br>

<h2>for see the users ,Change default route to -> return Ember.RSVP.hash({</h2>
<h2>Users width Tasks</h2>
<h2>------------------------------------</h2>
{{#each model.users as |user|}}
  <h3>{{user.name}}</h3>
  {{#each user.tasks as |task|}}
    <p>{{task.title}}</p>
  {{/each}}
{{/each}}
